.wrapper {
    display: flex;
    color: black;
    flex-direction: column;
    gap:10px
}

.header {
    width: 100%;
    height: 75px;
    background-color: gold;
}

.middle-blocks {
    display: flex;
    gap: 10px;
    height: 380px;
}
.article {
    width: 60%;
    background-color: gold;
}
.nav {
    width: 25%;
    background-color: gold;
}
.ads {
    width: 15%;
    background-color: gold;
}
.footer {
    width: 100%;
    height: 75px;
    background-color: gold;
}
